<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="formbox">
    <h2>プロフィール編集</h2>
    <%= f.text_field :name, class: 'userform', placeholder:"name" %>
    <%= f.password_field :password, class: 'userform', placeholder:"password" %>
    <%= f.password_field :password_confirmation, class: 'userform', placeholder:"password again" %>
    <%= f.submit '変更', class: 'formbtn' %>
  </div>
<% end %>