<div class="topbox1">
  <p><%= @user.name %>の予定一覧</p>
  <%= form_with(scope: :search, url: user_path(@user), method: :get, local: true) do |f| %>
      <%= f.text_field :title, value: @search_params[:title] %>
      <%= f.date_field :startday_from, value: @search_params[:startday_from] %> ~ <%= f.date_field :startday_to, value: @search_params[:startday_to] %>
      <%= f.date_field :endday_from, value: @search_params[:endday_from] %> ~ <%= f.date_field :endday, value: @search_params[:endday_to] %>
      <%= f.submit '検索' %>
  <% end %>
</div>

<%= render 'plans/plan_style', message: @plan %>

<%= paginate @plans %>

