<div class="topbox4">
    <div>
      並び替え:
      <%= sortable "title", "タイトル順" %>-
      <%= sortable "startday", "予定開始日時順" %>-
      <%= sortable "endday", "予定終了日時順" %>
    </div>
      
    <% @keeps.each do |keep| %>
      <%= link_to plan_path(plan) do %>
        <p>
          <span><%= keep.title %></span><br>
          <span><%= keep.startday.strftime("%Y年%m月%d日 %H時%M分") %>　～</span>
          <span><%= keep.endday.strftime("%Y年%m月%d日 %H時%M分") %></span><br>
          <span>投稿者:<%= keep.user.name %></span>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
<%= paginate @plans %>