<p>
  詳細　投稿者:
  <%= link_to @plan.user do %>
    <%= @plan.user.name %>
  <% end %>
</p>

<h3><%= @plan.title %></h3>

<p><%= @plan.startday.strftime("%Y年%m月%d日 %H時%M分") %>~<%= @plan.endday.strftime("%Y年%m月%d日 %H時%M分") %></p>

<p><%= @plan.content %></p>

<p><%= @plan.diary %></p>

<%= link_to '一覧に戻る', root_path %>
<% if logged_in? %>
  <% if @plan.kept_by?(current_user) %>
        <%=link_to 'Keep解除', plan_keeps_path(@plan), method: :delete, class: '' %>
  <% else %>
      <%=link_to 'Keep', plan_keeps_path(@plan), method: :post, class: '' %>
  <% end %>
<% end %>
<% if current_user == @plan.user %>
    <%= link_to '予定の編集', edit_plan_path(@plan) %>
    <%= link_to '予定を削除する', @plan, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
<% end %>