<nav>
  <div class="logo">
    <h2><a href="/" class="navtitle">plans</a></h2>
  </div>
    <input type="checkbox" id="toggle" class="navinput">
    <ul class="burgerhidden">
      <% if logged_in? %>
        <li><%= link_to "新規投稿", new_plan_path, class: "navbtn" %></li>
        <li><%= link_to "ユーザー一覧", users_path, class: "navbtn" %></li>
        <li class="usermenu">
          <label class="usermenulabel" for="change">
            <div class="navbtn">ユーザーメニュー</div>
          </label>
          <input type="checkbox" id="change" class="usermenuinput">
          <ul class="">
            <li><%= link_to "マイプラン", user_path(current_user), class: "navbtn" %></li>
            <li><%= link_to "KEEP", keeps_user_path(current_user), class: "navbtn" %></li>
            <li><%= link_to 'ログアウト', logout_path, method: :delete, class: "navbtn" %></li>
            <li><%= link_to 'ユーザー編集', edit_user_path(current_user), class: "navbtn" %></li>
            <li><%= link_to '退会', user_path(current_user), method: :delete, data: { confirm: '本当に削除してよろしいですか？'}, class: "navbtn" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to '新規ユーザー作成', signup_path, class: 'navbtn' %></li>
        <li><%= link_to 'ログイン', login_path, class: 'navbtn' %></li>
      <% end %>
    </ul>
    <label class="navlabel" for="toggle">
      <div class="burger">
        メニュー
      </div>
    </label>
</nav>